.user-list{
    display: flex;
    width: 100%;
    .listcontainer{
        flex: 6;
        .user-title{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 30px;
            color: gray;
        }
    }
}