.chart{
    flex: 4;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    border-radius: 10px;

    .chart-title{
        margin-bottom: 20px;
        color: gray;
    }


  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}