.widget-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;

    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-user{
            font-size: 15px;
            font-weight: 700;
            color: rgb(153, 147, 147);
        }
        .counter{
            font-size: 28px;
            font-weight: 700;
        }
        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }
            &.negative{
                color:red;
            }
        }

        .user-icon{
            align-self: end;
            cursor: pointer;
            font-size: 30px;
            background-color: rgb(171, 157, 184);
            padding: 5px;
            border-radius: 5px;
            
        }
    }
}