


.navbar{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 0.5px solid grey;
    font-size: 15px;
    
    .navbar-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    
        .navbar-search{
            display: flex;
            align-items: center;
            border: 0.5px solid grey;
            border-radius: 8px;
            padding: 5px;
            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 13px;
                }
            }
            .search-icon{
                color: rgb(86, 17, 150);
            }

        }
    
        .navbar-icons{
            display: flex;
            align-items: center;
            gap:30px;

            .navbar-icon{
                cursor: pointer;
                color: rgb(86, 17, 150);
                font-size: 20px;
            }
        }
        
    }
}
